## Cinnamon Raisin Bagel

From _The Bread Baker's Apprentice_ by Peter Reinhart

- mix sponge, rest 2 hr
- mix dough
- divide & preshape: 20 min
- shape
- proof: 20 min (until they float)
- retard: 8-36 hours
- boil: 1 min per side
- bake: 5 min per side

In [8]:
import pandas as pd
grams_per_ounce = 28.3495

In [9]:
formatter = {
    'grams': lambda x: f"{x:,.0f}" if x > 10 else f"{x:.2f}",
    'oz': lambda x: f"{x:,.0f}" if x > 100 else f"{x:.2f}",
    'baker%': lambda x: f"{x:.0f}" if x > 2 else f"{x:.1f}"
}

In [10]:
num_loaves = 12
num_pounds = 0
num_ounces = 4.68
num_grams = 0

In [11]:
loaf_weight = (num_pounds * 16 + num_ounces) * grams_per_ounce + num_grams
total_weight = (num_loaves * loaf_weight)
print ("{:,.0f} loaves at {:,.0f} grams".
       format(num_loaves, loaf_weight, num_pounds, num_ounces))
print ("total weight: {:,.2f} grams".format(total_weight,total_weight * grams_per_ounce))

12 loaves at 133 grams
total weight: 1,592.11 grams

In [12]:
sponge = pd.DataFrame.from_dict({
    "high-gluten-flour": 51.4,
    "water": 57.1, 
    "yeast": 0.31
}, orient='index', columns=["baker%"])
print ("sponge")
sponge_total = sponge['baker%'].sum()
print("sponge total = %s%%" % sponge_total)
sponge

sponge
sponge total = 108.81%

                   baker%
high-gluten-flour   51.40
water               57.10
yeast                0.31

In [13]:
dough = pd.DataFrame.from_dict({
    "high-gluten-flour": 48.6, 
    "yeast": 0.31,
    "salt": 2,
    "malt": 1,
    "raisins": 10,
    "cinnamon": 1.43,
    "sugar": 7.1
}, orient='index', columns=["baker%"])
print ("dough")
dough_total = dough['baker%'].sum()
print("dough total = %s%%" % dough_total)
dough

dough
dough total = 70.44%

                   baker%
high-gluten-flour   48.60
yeast                0.31
salt                 2.00
malt                 1.00
raisins             10.00
cinnamon             1.43
sugar                7.10

In [14]:
final_dough_weight = total_weight * 100 / (dough_total + sponge_total)
print ("final dough weight = {:,.0f} grams".format(final_dough_weight))
sponge['grams'] = sponge.apply(lambda row: row['baker%']*final_dough_weight/100, axis=1)
sponge['oz'] = sponge.apply(lambda row: row['grams'] / grams_per_ounce, axis=1)
sponge = sponge[['baker%', 'grams', 'oz']]
print ("sponge")
sponge[['baker%', 'grams', 'oz']].style.format(formatter)

final dough weight = 888 grams
sponge

In [15]:
final_dough = dough
final_dough['grams'] = final_dough.apply(lambda row: row['baker%']*final_dough_weight/100, axis=1)
final_dough['oz'] = final_dough.apply(lambda row: row['grams'] / grams_per_ounce, axis=1)
print ("dough")
final_dough[['baker%', 'grams', 'oz']].style.format(formatter)

dough