## Roasted Garlic Grissini (Breadsticks)

- Cut tops off garlic and generously drizzle with olive oil
- Roast in 380 degree oven, let cool
- Separate garlic meat. Preserve oil and use as part of oil in formula
- Soften butter by pounding with rolling pin


- Bulk fermentatin: 30 min
- Taking a small portion of dough at a time, roll to 1/4 inch thick
- Cut with pizza knife and lay on parchment
- Bake at 380 degrees until golden brown and crispy

In [15]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [16]:
num_loaves = 1
num_pounds = 2
num_ounces = 0

In [17]:
formula = pd.DataFrame.from_dict({
    "ap-flour": 100, 
    "water": 52, 
    "salt": 2, 
    "yeast": 0.4, 
    "olive-oil": 12, 
    "butter": 10
}, orient='index', columns=["baker%"])
formula_total = formula['baker%'].sum()
print("formula total = %s%%" % formula_total)
formula

formula total = 176.4%

           baker%
ap-flour    100.0
water        52.0
salt          2.0
yeast         0.4
olive-oil    12.0
butter       10.0

In [18]:
total_weight = (num_loaves * num_pounds * 16 + num_loaves * num_ounces)
print ("%s loaves" % num_loaves)
print ("%s pounds %s ounces" % (num_pounds, num_ounces))
print ("total weight: %s ounces" % total_weight )

1 loaves
2 pounds 0 ounces
total weight: 32 ounces

In [19]:
formula['oz'] = formula.apply(lambda row: '{:,.2f}'.format(row['baker%']*total_weight/formula_total), axis=1)
formula['grams'] = formula.apply(lambda row: '{:,.0f}'.format(float(row['oz'])*28.3495), axis=1)
formula = formula[['baker%', 'grams', 'oz']]
#formula['garlic']= ['','','meat from 2 heads roasted garlic']
formula

           baker% grams     oz
ap-flour    100.0   514  18.14
water        52.0   267   9.43
salt          2.0    10   0.36
yeast         0.4     2   0.07
olive-oil    12.0    62   2.18
butter       10.0    51   1.81

In [20]:
formula.loc['meat from 2 heads roasted garlic'] = np.nan

In [21]:
formula

                                  baker% grams     oz
ap-flour                           100.0   514  18.14
water                               52.0   267   9.43
salt                                 2.0    10   0.36
yeast                                0.4     2   0.07
olive-oil                           12.0    62   2.18
butter                              10.0    51   1.81
meat from 2 heads roasted garlic     NaN   NaN    NaN