## Conchas

- From https://cooking.nytimes.com/recipes/1023045-conchas
- overnight bulk fermentation
- divide & shape
- add topping
- final fermentation: 1.5-2 hrs
- bake at 375, 20-25 min

topping from https://www.mexicoinmykitchen.com/concha-recipe

For 15 rolls:

- 100 grams Vegetable Shortening 
- 100 grams Confectioner Sugar
- 120 grams All-Purpose Flour

For Chocolate:
- Add 5 grams Cocoa powder (for chocolate)

For Vanilla:
- Add 1T vanilla extract

In [1]:
import pandas as pd
grams_per_ounce = 28.3495

In [2]:
num_loaves = 60
num_pounds = 0
num_ounces = 0
num_grams = 76

In [3]:
formatter = {
    'grams': lambda x: f"{x:,.0f}" if x > 10 else f"{x:.2f}",
    'oz': lambda x: f"{x:,.0f}" if x > 100 else f"{x:.2f}",
    'baker%': lambda x: f"{x:.0f}" if x > 2 else f"{x:.1f}"
}

In [4]:
loaf_weight = (num_pounds * 16 + num_ounces) * grams_per_ounce + num_grams
total_weight = (num_loaves * loaf_weight)
print ("{:,.0f} loaves at {:,.0f} grams".
       format(num_loaves, loaf_weight, num_pounds, num_ounces))
print ("total weight: {:,.2f} grams".format(total_weight,total_weight * grams_per_ounce))

60 loaves at 76 grams
total weight: 4,560.00 grams

In [5]:
formula = pd.DataFrame.from_dict({
    "ap-flour": 100, 
    "sugar": 13,
    "salt": 2.3,
    "yeast": 1.9,
    "milk": 33.7, 
    "eggs": 23.1,
    "vanilla extract": 0.8,
    "butter": 35.6
}, orient='index', columns=["baker%"])
formula_total = formula['baker%'].sum()
print("overall formula total = %s%%" % formula_total)

overall formula total = 210.4%

In [6]:
# Calculate oz and grams as numeric values first
formula['grams'] = formula['baker%'] * total_weight / formula_total
formula['oz'] = formula['grams'] / grams_per_ounce

formula[['baker%', 'grams', 'oz']].style.format(formatter)

In [7]:
display_df = formula.copy()
for col, fmt in formatter.items():
    if col in display_df.columns:
        display_df[col] = display_df[col].apply(fmt)
print(display_df.to_markdown())

|                 |   baker% | grams   |    oz |
|:----------------|---------:|:--------|------:|
| ap-flour        |    100   | 2,167   | 76.45 |
| sugar           |     13   | 282     |  9.94 |
| salt            |      2   | 50      |  1.76 |
| yeast           |      1.9 | 41      |  1.45 |
| milk            |     34   | 730     | 25.76 |
| eggs            |     23   | 501     | 17.66 |
| vanilla extract |      0.8 | 17      |  0.61 |
| butter          |     36   | 772     | 27.22 |